{% extends "base.html" %}


{% block content %}
<div class="container">
    <h1 class="text-center mb-5">Home</h1>
    <hr/>
    <div class="container">
        {% for post in posts.items %}
        <div class="card bg-white rounded shadow-lg mt-5 mb-5">
            <img src="{{ url_for('static',filename='profile_pics/' + post.author.image_file) }}" class="card-img-top mt-3 ml-3 " style="max-width: 5vmin; border-radius: 50%;" alt="Profile Picture">
            <div class="card-body">
                <h4 class="card-title d-flex">{{ post.title }}<span class="ml-auto text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</span></h4>
                <h6>by {{ post.author.username }}</h6>
                <hr />
                <h6 class="card-text">{{ post.content }}</h6>
                <div class="form-group d-flex">
                    <div class="ml-auto">
                    <a class="btn btn-outline-danger" href="{{ url_for('delete_post',post_id=post.id) }}">delete</a>
                    <a class="btn btn-outline-info ml-2" href="{{ url_for('update_post',post_id=post.id) }}">edit</a>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('home',page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}     
               {% else %}
            ...
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}