{% extends "base.html" %}


{% block content %}
<div style="margin:auto;max-width:480px;height:560px;" class="shadow bg-white rounded p-5 mt-5">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-5">Reset Password</legend>
            <div class="form-group">
               {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %} 
                {{ formemaile(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                </div>

                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
               
            </div>
            <div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}